body {
    background-color: #2196F3;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 70px;
}

.LinkedIn {
    width: 131.25px;
}

img {
    height: 120px;
    width: 120px;
    padding: 10px;
    padding-top: 0%;
}

/* remove underscore between images */
a {
    text-decoration: none;
}