---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found</title>
  </head>
  <body
    class="bg-slate-100 dark:bg-slate-800 text-black dark:text-slate-100 min-h-screen w-screen flex flex-col justify-center"
  >
    <div class="flex flex-wrap justify-center gap-4">
      <h1 class="text-8xl font-extrabold">404</h1>
      <h2 class="text-8xl font-medium text-center">Not Found</h2>
    </div>
  </body>
</html>
