---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found</title>
  </head>
  <body
    class="flex min-h-screen w-screen flex-col justify-center bg-slate-100 text-black dark:bg-slate-800 dark:text-slate-100"
  >
    <div class="flex flex-wrap justify-center gap-4">
      <h1 class="text-8xl font-extrabold">404</h1>
      <h2 class="text-center text-8xl font-medium">Not Found</h2>
    </div>
  </body>
</html>
