---

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Arkin Modi</title>
  </head>
  <body class="bg-slate-100 dark:bg-slate-800">
    <!-- About Me -->
    <div class="text-black dark:text-white">
      <h1 class="font-bold">Arkin Modi</h1>
      <h2>Software Engineering & Management Co-op Student @ McMaster University</h2>
      <h2>Previously IBM Canada</h2>
    </div>

    <!-- Links -->
    <div>
      <a href="https://www.linkedin.com/in/arkinmodi/">LinkedIn</a>
      <a href="https://www.github.com/arkinmodi/">GitHub</a>
      <a href="http://resume.arkinmodi.com/">Resume</a>
      <a href="mailto:arkinmodi@gmail.com">Email</a>
    </div>

    <!-- Projects -->
    <div class="text-black dark:text-white">
    </div>
  </body>
</html>
