---
import * as icons from "simple-icons";
---

<div class="flex w-[80vw] flex-wrap justify-center gap-4">
  <a
    href="https://www.linkedin.com/in/arkinmodi/"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Connect with me on LinkedIn!"
  >
    <div class="fill-slate-800" set:html={icons.siLinkedin.svg} />
  </a>
  <a
    href="https://www.github.com/arkinmodi/"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Build with me on GitHub!"
  >
    <div class="fill-slate-800" set:html={icons.siGithub.svg} />
  </a>
  <a
    href="http://resume.arkinmodi.com/"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Checkout my Resume!"
  >
    <div class="fill-slate-800" set:html={icons.siMicrosoftword.svg} />
  </a>
  <a
    href="mailto:arkinmodi@gmail.com"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Email me!"
  >
    <div class="fill-slate-800" set:html={icons.siGmail.svg} />
  </a>
</div>
