---
import * as icons from "simple-icons/icons";
---

<div class="flex flex-wrap gap-4 justify-center w-[80vw]">
  <a
    href="https://www.linkedin.com/in/arkinmodi/"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Connect with me on LinkedIn!"
  >
    <div
      class="dark:fill-slate-100 fill-slate-800"
      set:html={icons.siLinkedin.svg}
    >
    </div>
  </a>
  <a
    href="https://www.github.com/arkinmodi/"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Build with me on GitHub!"
  >
    <div
      class="dark:fill-slate-100 fill-slate-800"
      set:html={icons.siGithub.svg}
    >
    </div>
  </a>
  <a
    href="http://resume.arkinmodi.com/"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Checkout my Resume!"
  >
    <div
      class="dark:fill-slate-100 fill-slate-800"
      set:html={icons.siMicrosoftword.svg}
    >
    </div>
  </a>
  <a
    href="mailto:arkinmodi@gmail.com"
    target="_blank"
    class="tooltip tooltip-bottom w-8"
    data-tip="Email me!"
  >
    <div
      class="dark:fill-slate-100 fill-slate-800"
      set:html={icons.siGmail.svg}
    >
    </div>
  </a>
</div>
