---
export interface Props {
  title: string;
  repoUrl: string;
  description: string;
  demoUrl?: string;
}

const { title, repoUrl, demoUrl, description } = Astro.props as Props;
---

<div
  class="min-h-36 w-96 rounded-md border-2 border-slate-800 p-3 text-black dark:border-slate-100 dark:text-slate-100"
>
  <h1>{title}</h1>
  <div class="pt-1 pb-2">
    <a
      href={repoUrl}
      target="_blank"
      class="inline-block border-b-2 border-solid border-slate-400 hover:border-slate-800 dark:hover:border-slate-200"
    >
      code
    </a>
    {
      demoUrl && (
        <>
          <nobr> | </nobr>
          <a
            href={demoUrl}
            target="_blank"
            class="inline-block border-b-2 border-solid border-slate-400 hover:border-slate-800 dark:hover:border-slate-200"
          >
            demo
          </a>
        </>
      )
    }
  </div>
  <p>{description}</p>
</div>
